<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <title>Home page</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Bookstore</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page"
                       href="/home">Домой</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/book/add">Добавить книгу в корзину</a>
                </li>
            </ul>
            <form class="d-flex">
                <a href="/logout" role="button" class="btn btn-outline-light">Выйти</a>
            </form>
        </div>
    </div>
</nav>
<div class="container pt-4">
    <div class="row">
        {{#books}}
            <div class="col-sm-6 pt-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center"
                             role="book">
                            <h2 class="card-title">{{bookName}}</h2>
                            <div class="d-flex justify-content-end align-items-center"
                                 role="book">
                                <form method="post" action="/book/{{id}}"
                                      class="px-2">
                                    <button type="submit"
                                            class="btn btn-outline-primary btn-sm">
                                        Открыть
                                    </button>
                                </form>
                                <form method="post"
                                      action="/book/{{id}}/delete">
                                    <button type="submit"
                                            class="btn btn-outline-danger btn-sm">
                                        Удалить
                                    </button>
                                </form>
                            </div>
                        </div>
                        <ul class="list-book pt-4">
                            {{#authors}}
                                <form method="post"
                                      action="/author/{{id}}/delete"
                                      class="pt-2">
                                    <li class="list-book-item d-flex justify-content-between align-items-center">
                                        {{lastName}} {{firstName}} {{middleName}}
                                        <button type="submit"
                                                class="btn btn-outline-danger btn-sm">
                                            Изменить
                                        </button>
                                    </li>
                                </form>
                            {{/authors}}
                        </ul>
                    </div>
                </div>
            </div>
        {{/books}}
    </div>
    {{^books}}
        <h3>Книги не добавлены...</h3>
    {{/books}}
</div>
</body>
</html>
